/* Component Stylings */
/* Primary Colors */

:root {
    --primary-color: rgb(40, 59, 90);
    --secondary-color: #638DB8;
    --tertiary-color: #5FA3BC;
    --quatenary-color: #5BBA99;
    --quinary-color: #F4F4F4;
} 

@font-face {
    font-family: 'Futura PT';
    font-style: oblique;
    font-weight: normal;
    src: url('Fonts/FuturaPTCondBold.otf');
}
/* Primary Text Stylings */

.header_text {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.025em;
    color: #575757;
}
.description_text {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 175.03%;
    /* or 20px */
    letter-spacing: -0.025em;
    color: #575757;
}

/* Left text align */

.leftTextAlign {
    text-align: left;
}
.rightTextAlign {
    text-align: right;
}
.centerTextAlign {
    text-align: center;
}

/* General Alignment */

/* Completely Ceneterd (top-bottom, left-right) */
/* Parent element must have 'position: relative' */

.fullCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Button Component */

.border-button {

    --button-border: 2px solid var(--quinary-color);
    --button-background: transparent;
    --button-text-color: var(--quinary-color);
    --button-text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);

    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 9px;
    border: var(--button-border);
    background: var(--button-background);
    cursor: pointer;
    transition: 0.2s all linear;
}
.border-button span {
    display: block;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--button-text-color);
    text-shadow: var(--button-text-shadow);
}
.border-button:hover {
    --button-border: none;
    --button-background: var(--quinary-color);
    --button-text-color: var(--primary-color);
    --button-text-shadow: none;
}

/* Contact Button */

.contact-button {

    --button-border: 2px solid var(--quinary-color);
    --button-background: transparent;
    --button-transform: none;

    display: flex;
    flex-direction: column;
    width: 175px;
    height: 175px;

    background: var(--button-background);
    border-radius: 9px;
    border: var(--button-border);

    transform: var(--button-transform);
    transition: 0.2s all linear;
    cursor: pointer;
}
.contact-button div {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
}
.contact-button div svg {
    display: block;
}
.contact-button div span {
    display: block;
    width: max-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--quinary-color);
}
.contact-button:hover {
    --button-border: none;
    --button-background: var(--quatenary-color);
    --button-transform: translateY(-10px);
}

/* Header Navigation */

.Main_Header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100vw;
    height: max-content;
    z-index: 1000;
    background: rgba(34, 51, 79, 0.95);
    box-shadow: 0px 4px 35px rgba(66, 66, 66, 1);
}

/* Desktop Header */

.DesktopHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.DesktopHeader .DesktopHeaderLogo, .DesktopHeader .DesktopHeaderLinks {
    display: block;
    padding: 12px 0px 12px 0px;
}

.DesktopHeader div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 550px;
    margin-top: -4px;
}
.DesktopHeader div svg {
    display: block;
    position: relative;
    left: 50px;
}
.DesktopHeader div div div {

    --underline-scale: scale(0);
    --text-transform: translateY(0px);

    display: block;
    width: max-content;
    height:20px;
    cursor: pointer;
}
.DesktopHeader div div div span {
    display: block;
    width: max-content;
    font-family: 'Futura PT';
    font-style: oblique;
    font-weight: normal;
    font-size: 20px;
    line-height: 139.03%;
    /* or 20px */
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFF;
    transform: var(--text-transform);
    transition: 0.2s all linear;
}
.DesktopHeader div div div span + span {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--quinary-color);
    transition: 0.2s all linear;
    transform: var(--underline-scale);
}
.DesktopHeader div div div:hover {
    --underline-scale: scale(1);
}

/* Landing Page Component */

.Landing-Page {
    display: block;
    position: relative;
    width: 100vw;
    height: 95vh;
}

#Home_Page .Main_Header {
    box-shadow: none;
    background: transparent;
}

/* Landing Page Attribute Selectors for Main Pages */

.Landing-Page[page_type='commercial'] {
    background: url('Backgrounds/PhYq704ffdA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Landing-Page[page_type='residential'] {
    background: url('Backgrounds/residential_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Landing-Page[page_type='dryer'] {
    background: url('Backgrounds/dryer_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Landing-Page[page_type='home'] {
    background: var(--tertiary-color);
    background-size: cover;
    background-repeat: no-repeat;
}
.Landing-Page[page_type='home'] .landingPageContent {
    left: 5.5%;
    transform: translateY(-54%) scale(0.9);
}
.Landing-Page[page_type='home'] .landingPageContent h1 {
    text-align: left;
}
.Landing-Page-Clouds {
    display: block;
    position: relative;
    width: 100vw;
    height: 95vh;
    background: url('Backgrounds/cloud-background.png' ), linear-gradient(180deg, rgba(40, 59, 90, 0) 0%, #283B5A 100%);
    animation: moveClouds 60s ease infinite;
    -webkit-animation: moveClouds 60s ease infinite;
}

@-webkit-keyframes moveClouds {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes moveClouds {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0 ;
    }
}

.Landing-Page::after {
    display: inline-block;
    content: "";
    background: url('Vectors/landing_bottom_vector.svg');
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 200px;
    bottom: 0;
}
.landingPageContent {
    display: flex;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translateX(-50%) translateY(-54%) scale(0.9);
    flex-direction: column;
    justify-content: space-between;
    width: 710px;
    height: 350px;
}
.borderButtonWrapper {
    display: flex;
    width: 400px;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.landingPageContent h1 {
    display: block;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 139.03%;
    /* or 56px */
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;

    text-shadow: 0px 4px 5px rgba(41, 41, 41, 0.75);
}

/* Border Description Component */

.borderDescription {
    display: block;
    width: 500px;
    height: auto;

    --text-align: left;
}
.borderDescription[direction='right'] {
    --text-align: right;
    padding-right: 0px;
}
.borderDescription[direction='right'] h1 {
    padding-right: 75px;
    padding-left: 0px;
    transform: translateX(-25px);
}
.borderDescription[direction='right']::before {
    right: 100px;
}
.borderDescription h1 {
    display: block;
    width: 95%;
    height: max-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    text-align: var(--text-align);
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.025em;
    color: #575757;
}
.borderDescription::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 75px;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.borderDescription p {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    text-align: var(--text-align);
    font-size: 13px;
    line-height: 175.03%;
    /* or 20px */
    letter-spacing: -0.025em;
    color: #575757;
}

/* Large Image Component */

.largeImage {
    display: block;
    width: 600px;
    height: 350px;
    -webkit-box-shadow: 2px 10px 35px 0px rgba(66,66,66,0.4);
    -moz-box-shadow: 2px 10px 35px 0px rgba(66,66,66,0.4);
    box-shadow: 2px 10px 35px 0px rgba(66,66,66,0.4);
}

/* Image and Description Flexbox (Mainly for Landing Pages) */

.ImageDescription {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 85%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.ImageDescription div[position='left'] {
    grid-column-start: 1;
    grid-column-end: 2;
    display: block;
    width: 100%;
    position: relative;
}
.ImageDescription div[position='right'] {
    grid-column-start: 2;
    grid-column-end: 3;
    display: block;
    width: 100%;
    position: relative;
}
.ImageDescription div[position='left'] div {
    left: 0;
}
.ImageDescription div[position='right'] div {
    right: 0;
}
.ImageDescriptionContent {
    display: block;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 100px;
    padding-right: 100px;
}

/* Centered Text Block (Mainly used for Landing Pages */

.CenteredTextBlock {
    display: block;
    position: absolute;
    width: 750px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.CenteredTextBlock h1 {
    padding-bottom: 50px;
}

/* Icon Description Component */

.iconDescription {
    display: flex;
    width: 750px;
    height: auto;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.iconDescription div[section = 'icon'] {
    display: block;
    width: 30%;
    height: auto;
    position: relative;
}
.iconDescription div[section = 'icon'] img {
    display: block;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.iconDescription div[section = 'description'] {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    position: relative;
}
.iconDescription div[section = 'description'] h3 {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px;

    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.025em;
    color: #575757;

}
.iconDescription div[section = 'description'] p {
    display: block;
    width: 100%;
    height: auto;

    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.025em;
    color: #575757;
}
.FooterWrapper {
    display: block;
    width: max-content;
    height: max-content;
    padding-top: 150px;
}
.Footer {
    display: block;
    width: 100vw;
    height: 350px;
    background-color: var(--primary-color);
}
.footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.footerContent .footerSiteInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 325px;
    height: 225px;
    margin-top: 50px;
}
.footerContent .footerSiteInfo h2  {
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}
.footerContent .footerSiteInfo address {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
.footerContent .footerSiteInfo small {
    font-family: Verdana;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.045em;
    color: #F4F4F4;
}
.footerContent .footerSiteInfo a {
    font-family: Verdana;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.045em;
    color: #F4F4F4;
}
.footerContent .footerSocialLinks {
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}
.footerContent .footerSocialLinks div {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 100px;
    height: auto;
}
.footerContent .footerSocialLinks div svg path {
    transition: 0.2s all linear;
    cursor: pointer;
}
.footerContent .footerSocialLinks div svg {
    transform: scale(0.9)
}
.footerContent .footerSocialLinks div svg:hover path{
    fill: #F4F4F4;
}

.footerLinks {
    display: block;
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
}
.footerLinks div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.footerLinks a {
    display: block;
    width: 150px;
    padding: 20px 0px 20px 0px;
}
.footerLinks a span {
    float: right;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.045em;
    color: #F4F4F4;
    text-align: right;
}

/* Image Grid */

.ImageGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500px;
    height: auto;
}
.imageGridImageWrap {
    display: block;
    width: max-content;
    height: max-content;
    padding: 50px;
}
.imageGridImage {
    display: block;
    width: 400px;
    height: 400px;
}
.imageGridImage img {
    width: 100%;
    height: 100%;
}
/* Media Queries for Components */

@media screen and (max-width: 1750px) {
    .ImageDescription {
        width: 1500px;
    }
}

@media screen and (max-width: 1500px) {
    .ImageDescription {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: max-content;
        width: auto;
    }
    .ImageDescription[type='ltr'] div[position='left'] {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
    }
    .ImageDescription[type='ltr'] div[position='right'] {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 100%;
    }
    .ImageDescription[type='rtl'] div[position='left'] {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 100%;
    }
    .ImageDescription[type='rtl'] div[position='right'] {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
    }
    .ImageDescriptionContent {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .iconDescription {
        top: 9%;
        transform: translateX(-50%);
        width: 600px;
        height: 500px;
        flex-direction: column;
    }
    .iconDescription div[section='icon'] {
        width: 100%;
        height: 250px;
    }
    .iconDescription div[section='icon'] img {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .iconDescription div[section = 'description'] {
        width: 100%
    }
    .iconDescription div[section='description'] h3 {
        text-align: center;
    }
    .iconDescription div[section = 'description'] p {
        text-align: center;
    }
    .Component_Wrapper[componentType='imageDesc'] {
        height: 750px;
        padding: 75px 0px 25px 0px;
    }
    .Component_Wrapper[componentType='iconDesc'] {
        min-height: 400px!important;
        padding: 25px 0px 150px 0px;
    } 

    .Component_Wrapper[componentType='centerTextBlock'] {
        min-height: 400px!important;
    }

    .borderDescription::before {
        width: 100px;
        height: 15px;
        left: 300px;
    }
    .borderDescription[direction='right'] h1 {
        padding-right: 0px;
        transform: none;
    }
    .borderDescription h1 {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 50px;
        text-align: center;
    }
    .borderDescription p {
        text-align: center;
    }
    .CenteredTextBlock {
        width: 600px;
        top: 75px;
        transform: translateX(-50%);
    }
    .CenteredTextBlock[type='top'] {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
@media screen and (max-width: 900px) {
    .Component_Wrapper {
        transform: scale(0.9);
    }
    .ImageDescriptionContent {
        padding-left: 0px;
        padding-right: 0px;
    }
    .borderDescription {
        width: 600px;
    }
    .borderDescription::before {
        left: 250px;
    }
    .landingPageContent {
        transform: translateX(-50%) translateY(-54%) scale(0.80);
    }
    .footerLinks {
        display: none;
    }
}
@media screen and (max-width: 800px) and (max-height: 600px) {
    .Landing-Page::after {
        height: 100px;
    }
    .landingPageContent {
        transform: translateX(-50%) translateY(-50%) scale(0.65);
    }
}
@media screen and (max-width: 600px) {
    .CenteredTextBlock {
        width: 100vw;
    }
    .largeImage {
        width: 100vw;
    }
    .borderDescription {
        width: 100vw;
    }
    .borderDescription::before {
        left: 39%;
    }
}
@media screen and (max-width: 504px) {
    .landingPageContent {
        transform: translateX(-50%) translateY(-54%) scale(0.7);
    }
    .iconDescription {
        width: 100vw;
    }
}
@media screen and (max-width: 414px) {
    .Landing-Page:after {
        height: 100px;
    }
    .landingPageContent {
        transform: translateX(-50%) translateY(-45%) scale(0.6);
        height: 450px
    }
    .borderButtonWrapper {
        flex-direction: column!important;
        width: max-content!important;
        height: 175px!important;
    }
    .borderDescription::before {
        left: 37.5%;
    }
}