/* Component Stylings */
/* Primary Colors */

:root {
    --primary-color: rgb(40, 59, 90);
    --secondary-color: #638DB8;
    --tertiary-color: #5FA3BC;
    --quatenary-color: #5BBA99;
    --quinary-color: #F4F4F4;
} 

/* Primary Text Stylings */

.header_text {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.025em;
    color: #575757;
}
.description_text {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 175.03%;
    /* or 20px */
    letter-spacing: -0.025em;
    color: #575757;
}

/* Left text align */

.leftTextAlign {
    text-align: left;
}
.rightTextAlign {
    text-align: right;
}
.centerTextAlign {
    text-align: center;
}

/* General Alignment */

/* Completely Ceneterd (top-bottom, left-right) */
/* Parent element must have 'position: relative' */

.fullCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Button Component */

.border-button {

    --button-border: 2px solid var(--quinary-color);
    --button-background: transparent;
    --button-text-color: var(--quinary-color);
    --button-text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);

    display: block;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 9px;
    border: var(--button-border);
    background: var(--button-background);
    cursor: pointer;
    transition: 0.2s all linear;
}
.border-button span {
    display: block;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--button-text-color);
    text-shadow: var(--button-text-shadow);
}
.border-button:hover {
    --button-border: none;
    --button-background: var(--quinary-color);
    --button-text-color: var(--primary-color);
    --button-text-shadow: none;
}

/* Contact Button */

.contact-button {

    --button-border: 2px solid var(--quinary-color);
    --button-background: transparent;
    --button-transform: none;

    display: flex;
    flex-direction: column;
    width: 175px;
    height: 175px;

    background: var(--button-background);
    border-radius: 9px;
    border: var(--button-border);

    transform: var(--button-transform);
    transition: 0.2s all linear;
    cursor: pointer;
}
.contact-button div {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
}
.contact-button div svg {
    display: block;
}
.contact-button div span {
    display: block;
    width: max-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.025em;
    color: var(--quinary-color);
}
.contact-button:hover {
    --button-border: none;
    --button-background: var(--quatenary-color);
    --button-transform: translateY(-10px);
}

/* Header Navigation */

.Main_Header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100vw;
    height: max-content;
    z-index: 1000;
    background: var(--primary-color);
    box-shadow: 0px 4px 20px rgba(66, 66, 66, 0.5);
}

/* Desktop Header */

.DesktopHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.DesktopHeader .DesktopHeaderLogo, .DesktopHeader .DesktopHeaderLinks {
    display: block;
    padding: 12px 0px 12px 0px;
}

.DesktopHeader div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 550px;
}
.DesktopHeader div svg {
    display: block;
    position: relative;
    left: 50px;
}
.DesktopHeader div div div {

    --underline-scale: scale(0);
    --text-transform: translateY(0px);

    display: block;
    width: max-content;
    height:20px;
    cursor: pointer;
}
.DesktopHeader div div div span {
    display: block;
    width: max-content;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 139.03%;
    /* or 20px */
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFF;
    transform: var(--text-transform);
    transition: 0.2s all linear;
}
.DesktopHeader div div div span + span {
    display: inline-block;
    position: relative;
    top: -8px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--quinary-color);
    transition: 0.2s all linear;
    transform: var(--underline-scale);
}
.DesktopHeader div div div:hover {
    --underline-scale: scale(1);
    --text-transform: translateY(-2px);
}

/* Landing Page Component */

.Landing-Page {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Landing Page Attribute Selectors for Main Pages */

.Landing-Page[page_type='commercial'] {
    background: url('Backgrounds/PhYq704ffdA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.Landing-Page::after {
    display: inline-block;
    content: "";
    background: url('Vectors/landing_bottom_vector.svg');
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 200px;
    bottom: 0;
}
.landingPageContent {
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-55%) scale(0.95);
    flex-direction: column;
    justify-content: space-between;
    width: 710px;
    height: 400px;
}
.landingPageContent h1 {
    display: block;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 139.03%;
    /* or 56px */
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;

    text-shadow: 0px 4px 5px rgba(41, 41, 41, 0.75);
}

/* Border Description Component */

.borderDescription {
    display: block;
    width: 500px;
    height: auto;

    --text-align: left;
}
.borderDescription[direction='right'] {
    --text-align: right;
    padding-right: 0px;
}
.borderDescription[direction='right'] h1 {
    padding-right: 75px;
    padding-left: 0px;
    transform: translateX(-25px);
}
.borderDescription[direction='right']::before {
    right: 100px;
}
.borderDescription h1 {
    display: block;
    width: 95%;
    height: max-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    text-align: var(--text-align);
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.025em;
    color: #575757;
}
.borderDescription::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.borderDescription p {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    text-align: var(--text-align);
    font-size: 15px;
    line-height: 175.03%;
    /* or 20px */
    letter-spacing: -0.025em;
    color: #575757;
}

/* Large Image Component */

.largeImage {
    display: block;
    width: 600px;
    height: 350px;
}

/* Image and Description Flexbox (Mainly for Landing Pages) */

.ImageDescription {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.ImageDescription div[position='left'] {
    display: block;
    width: 50%;
    position: relative;
}
.ImageDescription div[position='right'] {
    display: block;
    width: 50%;
    position: relative;
}
.ImageDescription div[position='left'] div {
    left: 0;
}
.ImageDescription div[position='right'] div {
    right: 0;
}
.ImageDescriptionContent {
    display: block;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 100px;
    padding-right: 100px;
}

/* Centered Text Block (Mainly used for Landing Pages */

.CenteredTextBlock {
    display: block;
    width: 750px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.CenteredTextBlock h1 {
    padding-bottom: 50px;
}
